<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>{% block title %}My App{% endblock %} - Admin Panel</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet" />

    {% block head %}{% endblock %}
</head>
<body>

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                {% block content %}{% endblock %}

            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Include logout modal -->
    {% include 'logout_modal.html' %}

    <!-- End of Content Wrapper -->
    {% include 'footer.html' %}

    <!-- Modal Upload CSV -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.tables') }}">
        {{ form.hidden_tag() }}
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload New Table (CSV)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control-file") }}
            {% if form.file.errors %}
              <div class="text-danger">
                {% for error in form.file.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          {{ form.submit(class="btn btn-primary") }}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <!-- Scripturi comune -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
      <!-- Core plugin JavaScript-->
      <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.js') }}"></script>
      <!-- Custom scripts for all pages-->
      <script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>

    <!-- Scripturi specifice paginii -->
    {% block scripts %}{% endblock %}

</body>
</html>
